@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nanum Square';
  src: url('/fonts/nanumsquare_acR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Square';
  src: url('/fonts/nanumsquare_acB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nanum Square', sans-serif;
  max-width: 1300px;
  margin: 0 auto; 
  padding: 0 20px;
}
