.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & hr {
        width: 100%;
        height: 1px;
        color: rgba(148, 148, 148, 0.4);
    }
}

/* 리스트 입력 */
.home-input {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 16px;

    & input, button {
        padding: 10px 16px;
        border: 2px solid black;
        border-radius: 24px;
        box-shadow: 3.5px 4px 0 black;
        outline: none;
    }
    
    & input {
        width: 75%;
        background-color: rgba(241, 245, 249, 1);
    }
    
    & button {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-weight: bold;
        background-color: rgba(226, 232, 240, 1);
    }
}

/* 리스트 */
.home-content {
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.home-todo, .home-done {
    width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & h1 {
        width: fit-content;
        padding: 5px 32px;
        margin-bottom: 5px;
        background-color: rgba(190, 242, 100, 1);
        border-radius: 24px;
        font-family: 'HS-Regular';
    }
    
    & .home-todo-list, .home-done-list {
        display:flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* 리스트가 비어있을 때 */
.home-todo-empty,
.home-done-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: rgba(148, 163, 184, 1);
}

/* home 미디어 쿼리 */
@media(max-width: 768px) {
    .home-content {
        flex-direction: column;
        align-items: center;
    }

    .home-todo, .home-done {
        width: 100%;
    }
}

@media(max-width: 640px) {
    .home-input button {
        padding: 14px 16px;

        & p {
            display: none;
        }
    }
}


/* 컴포넌트 */


/* Top 컴포넌트 */
.top-container {
    width: 100%;
    padding: 10px 0;

    & img {
        cursor: pointer;
    }
}

/* 리스트 컴포넌트 */
.todo-container, .done-container {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 7px;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 24px;
    font-size: 16px;

    
    & .todo-circle, .done-circle {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & svg {
            font-size: 16px;
            color: transparent;
            transition: 0.3s all ease;
        }
    }
    
    & p {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.todo-container {
    & .todo-circle {
        background-color: rgba(254, 252, 232, 1);
        &:hover {
            & svg {
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.done-container {
    background-color: rgba(237, 233, 254, 1);
    
    & .done-circle {
        background-color: rgba(124, 58, 237, 1);
        border-color: rgba(124, 58, 237, 1);
        
        & svg {
            color: white;
        }
        
        &:hover {
            & svg {
                opacity: 0.5;
            }
        }
    }

    & p {
        text-decoration: line-through;
    }
}